@page
@model IndexModel
@{
}

<!-- Баннер компании -->
<div class="jumbotron" style="background: url('/images/Welcome.png') no-repeat center center; background-size: cover; height: 400px;">
    <div class="container">
        <h1 class="display-4 text-white text-center">JustClean</h1>
    </div>
</div>

<div class="row mt-4 align-items-stretch">
    <div class="col-md-6 mb-4">
        <div class="card h-100">
            <img src="https://www.klining-master.ru/upload/iblock/97e/97ef66b5df731a4abe0a25d3b02a65a2.jpg" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">Уборка</h5>
                <p class="card-text">В короткие сроки договорились с исполнителем и приступили к выполнению. Качественно и в срок! Стоимость разумная устроила сразу!</p>
            </div>
        </div>
    </div>

    <div class="col-md-6 mb-4">
        <div class="card h-100">
            <img src="https://pix-feed.com/wp-content/uploads/2018/07/38-11.jpg" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">Генеральная уборка</h5>
                <p class="card-text">Сотрудники компании убрались, как договаривались. В целом уборка прошла нормально, профессионализм помощников оцениваю как "вполне приемлемый". Никаких определенных замечаний нет, но я бы оценил, скорее, на 4.</p>
            </div>
        </div>
    </div>

    <div class="col-md-6 mb-4">
        <div class="card h-100">
            <img src="https://услуги-профи-крым.рф/simferopol/images/Dgtz0Vu4LZi_YAR_-kvgITMdRQc=/1920x/23a9879f975fb9ff74ee7e0f11d0c22e.webp" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">Уборка после ремонта</h5>
                <p class="card-text">Всё очень хорошо, профессионально, организованно, никаких нареканий. Финансовые договоренности соблюдены.</p>
            </div>
        </div>
    </div>

    <div class="col-md-6 mb-4">
        <div class="card h-100">
            <img src="https://stekljannyj.ru/wp-content/uploads/c/b/c/cbc37a8745e89d58a0c5b6f0fca3c4a9.jpeg" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">Мытьё окон</h5>
                <p class="card-text">Безумно понравилась работа специалистов, девушки просто превосходно были подготовлены, в их арсенале были все хим. Средства и вся техника которую я просила.</p>
            </div>
        </div>
    </div>
</div>
