@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!-- Баннер компании -->
<div class="jumbotron" style="background: url('/images/Welcome.png') no-repeat center center; background-size: cover; height: 400px;">
    <div class="container">
        <h1 class="display-4 text-white text-center">JustClean</h1>
    </div>
</div>


<!-- Плитки услуг -->
<div class="row mt-4">
    <!-- Плитка 1 -->
    <div class="col-md-6 mb-4">
        <div class="card">
            <img src="путь_к_изображению_услуги_1" alt="Изображение услуги 1" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">Название услуги 1</h5>
                <p class="card-text">Описание услуги 1. Здесь вы можете предоставить дополнительную информацию о услуге.</p>
            </div>
        </div>
    </div>

    <!-- Плитка 2 -->
    <div class="col-md-6 mb-4">
        <div class="card">
            <img src="путь_к_изображению_услуги_2" alt="Изображение услуги 2" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">Название услуги 2</h5>
                <p class="card-text">Описание услуги 2. Здесь вы можете предоставить дополнительную информацию о услуге.</p>
            </div>
        </div>
    </div>

    <!-- Добавьте дополнительные плитки по мере необходимости -->
</div>
