@page
@model JustClean.Web.Pages.ProfilePageModel
@{
}

<div class="col-9">
    <div class="row align-items-center px-3">
        <label class="col-2">Login</label>
        <div class="mb-1 col-6">
            <label class="lblperson">@Model.Client.Login</label>
        </div>
    </div>
</div>